page-electrico {
	.card{
		height: 100%;
	}
	
	.div-banner, .banner{
		width: 100%;
	}

	.title img{
		 margin-left: -12px;
		 width: 30px;
	}

	.title label{
		font-size: 13px;
	}

	.title .text-title{
		text-align: center; display: inline-block; width: 75%
	}
}
