page-electrico {
	.div-banner, .banner{
		width: 100%;
	}

	.noEmpresas{
		display: table;
		height: 100px;
		width: 100%;
		text-align: center;
		p {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.searchbar-input{
		box-shadow: initial !important;
		background-color: #f8f8f8 !important;
	}

	.items{
		background-color: #f8f8f8;
		.avatar{
			img{
				border-radius: 10% !important;
				width: 60px !important;
				height: 60px !important;
			}
		}

		.circle-estado {
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: #09b509;
			border-radius: 50%;
		}

		.label{
			white-space: initial !important;
		}


		.txt-estado {
			display: inline-block;
		}
	}

	.spinnerCargando{
		height: 50px;
		width: 100%;
	}

	// color del spinner
	circle{
		stroke: #F57C00 !important;
	}

	// Estilos para ios
	.toolbar-ios{
		.div_title{
			.text-title{
				text-align: center; display: inline-block; width: 75%;
			}
		}
	}

	// estilos para android
	.toolbar-md {
		.title {
			position: absolute;
			top: 15px;
			left: 20%;
			text-align: center;
			width: 70%;
		}
	}

	// estilos ios-android
	.toolbar-ios .div_title, .toolbar-md .div_title{
		display: inline-block;
		margin-right: 300px;
	}

	.toolbar-ios, .toolbar-md{
		.div_title{
			label{
				font-size: 13px;
				color: white;
				width: 30px;
			}
			img{
				width: 33.36px;
			}
		}
	}
}
