page-lista-compra {
	.cabecera{
		border-bottom: 1px solid;
		font-size: 18px;
		font-weight: bold;
	}

	.rating{
		color: #FFB300;
		font-size: 4.5rem;
		margin: 10% 0;
		text-align: center;
	}

	.table{
		margin-top: 15px;
		.table-head{
			background-color: #333;
			color: white;
			text-align: center;
		}

		.table-body{
			border-bottom: 1px solid;
			.row-cantidad{
				.divLabel{
					padding: 0 !important;
				}
			}
			.divLabel{
				display: table;
                height: 100%;
				width: 100%;
				margin: 0 auto;
				label{
					display: table-cell;
    				vertical-align: middle;
				}
			}
			.cantidad{
				margin: 0 auto;
			}
		}
	}

	.col-cantidad{
		padding: 0;
		button{
			width: 25px;
			height: 25px;
			padding: 0;
		}
	}

	// Estilos para ios
	.toolbar-ios .div_title .text-title{
		text-align: center; display: inline-block; width: 75%
	}

	// estilos para android
	.toolbar-md .title {
		position: absolute;
		top: 15px;
		left: 20%;
		text-align: center;
		width: 70%;
	}

	// estilos ios-android
	.toolbar-ios .div_title, .toolbar-md .div_title{
		display: inline-block;
		margin-right: 300px;
	}

	.toolbar-ios .div_title label, .toolbar-md .div_title label{
		font-size: 13px;
		color: white;
	}

	.toolbar-ios .div_title img, .toolbar-md .div_title img{
		width: 30px;
	}
	

}
