page-login {
	.button-registro{
		float: right;
		margin-bottom: 30px;
		font-weight: bold;
	}

	.logo{
		margin:80px auto 50px auto;
		display:block;
		width: 150px;
	}

	.image-body{
		background-size: 100% 100%;
	}
}
