<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="orange">

		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div class="div_title">
			<img src="assets/icon_casco.png">
			<label>CAPP</label>
		</div>
		<ion-title>
			<div class="text-title">Perfil</div>
		</ion-title>

	</ion-navbar>

</ion-header>


<ion-content>
	<div class="head-color">
		<div class="div_img">
			<img src="{{urlImagen}}logo_casco.png" *ngIf='auth.user.foto == null' />
			<img src="{{urlImagen}}{{auth.user.foto}}" *ngIf='auth.user.foto != null' />
		</div>
		<ion-segment [(ngModel)]="myProfile" color="dark" (ionChange)="segmentChanged($event)">
			<ion-segment-button value="perfil">
				Perfil
			</ion-segment-button>
			<ion-segment-button value="cotizaciones">
				Mis Cotizaciones
			</ion-segment-button>
			<ion-segment-button value="compras">
				Mis Compras
			</ion-segment-button>
		</ion-segment>
	</div>

	<div [ngSwitch]="myProfile" (ionChange)="cargar($event)">

		<ion-list *ngSwitchCase="'perfil'">
			<ion-item>
				<ion-icon name="person" item-start></ion-icon>
				<ion-input #inputNombre [disabled]="!editarCampos" type="text" value="{{auth.user.nombre}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-icon name="mail" item-start></ion-icon>
				<ion-input #inputEmail [disabled]="!editarCampos" type="text" value="{{auth.user.email}}"></ion-input>
			</ion-item>
			<button ion-button color="dark" block (click)="editar()">
				<label *ngIf="!editarCampos">Editar</label>
				<label *ngIf="editarCampos">Guardar cambios</label>
			</button>
		</ion-list>

		<ion-list *ngSwitchCase="'cotizaciones'">
			<ion-row class="encabezado">
				<ion-col col-4>
					<label>Fecha</label>
				</ion-col>
				<ion-col col-4>
					<label>Empresa</label>
				</ion-col>
				<ion-col col-4>
					<label>Estado</label>
					<button ion-button round clear class="button-refresh" (click)="searchCotizacion()">
						<ion-icon name="refresh"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
			<div class="spinnerCargando" *ngIf="showSpinner">
				<ion-spinner class="spinnerCargando" name="crescent"></ion-spinner>
				<p text-center>Cargando...</p>
			</div>
			<ion-row *ngFor="let cotizacion of cotizaciones" class="item-list" (click)="verCotizacion(cotizacion)">
				<ion-col col-4 class="row-estado-{{cotizacion.estadoid}}">
					<div class="div-container">
						<p style="white-space: normal">{{cotizacion.fechaFormat}}</p>
					</div>
				</ion-col>
				<ion-col col-4 class="row-estado-{{cotizacion.estadoid}}">
					<div class="div-container">
						<p style="white-space: normal">{{cotizacion.cliente}}</p>
					</div>
				</ion-col>
				<ion-col col-4 class="row-estado-{{cotizacion.estadoid}}">
					<div class="div-container">
						<p style="white-space: normal">{{cotizacion.estado}}</p>
					</div>
				</ion-col>
			</ion-row>
		</ion-list>

		<ion-list *ngSwitchCase="'compras'">
			<ion-row class="encabezado">
				<ion-col col-3>
					<label>Fecha</label>
				</ion-col>
				<ion-col col-6>
					<label>Empresa</label>
				</ion-col>
				<ion-col col-3>
					<label>Precio</label>
					<button ion-button round clear class="button-refresh" (click)="getCompras()">
						<ion-icon name="refresh"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
			<div class="spinnerCargando" *ngIf="showSpinnerCompras">
				<ion-spinner class="spinnerCargando" name="crescent"></ion-spinner>
				<p text-center>Cargando...</p>
			</div>
			<ion-row *ngFor="let compra of compras" class="item-list" (click)="verCompra(compra)">
				<ion-col col-3>
					<div class="div-container">
						<p style="white-space: normal">{{compra.fechaFormat}}</p>
					</div>
				</ion-col>
				<ion-col col-6>
					<div class="div-container">
						<p style="white-space: normal">{{compra.cliente}}</p>
					</div>
				</ion-col>
				<ion-col col-3>
					<div class="div-container">
						<p style="white-space: normal">{{compra.total.toLocaleString()}}</p>
					</div>
				</ion-col>
			</ion-row>
		</ion-list>

	</div>
</ion-content>