page-perfil {
	.boton-imagen{
		position: absolute;
		top: 0;
		right: 0;
	}

	.card{
		height: 100%
	}

	.div-banner, .banner{
		width: 100%;
	}

	.div_img img{
		border-radius: 50%;
		display: block;
		height: 240px;
    	margin: 10px auto;
	}

	.text-input[disabled]{
		opacity: 1;
	}

	.encabezado{
		background-color: black;
		color: white;
		text-align: center;
	}

	.item-list{
		border-bottom: 1px solid;
		margin: 0;
		padding: 0;
		text-align: center;
		.row-estado-1{
			background-color: #EF5350;
		}
		.row-estado-2{
			background-color: #4DB6AC;
		}
	}

	.button-refresh{
		color: white !important;
		float: right !important;
		height: auto !important;
		padding: 0 !important;
		width: 20px !important;
	}

	.spinnerCargando{
		height: 50px;
		width: 100%;
	}

	// color del spinner
	circle{
		stroke: #F57C00 !important;
	}

	// Estilos para ios
	.toolbar-ios .div_title .text-title{
		text-align: center; display: inline-block; width: 75%
	}

	// estilos para android
	.toolbar-md .title {
		position: absolute;
		top: 15px;
		left: 20%;
		text-align: center;
		width: 70%;
	}

	// estilos ios-android
	.toolbar-ios .div_title, .toolbar-md .div_title{
		display: inline-block;
		margin-right: 300px;
	}

	.toolbar-ios .div_title label, .toolbar-md .div_title label{
		font-size: 13px;
		color: white;
	}

	.toolbar-ios .div_title img, .toolbar-md .div_title img{
		width: 30px;
	}
}
