page-cotizacion {
	.alert-icon{
		background-color: red !important;
	}

	.delete{
		padding: 0 !important;
	}

	.list{
		margin: 0 !important;
	}

	.div-banner, .banner{
		width: 100%;
	}

	.subTitle-empresas{
		font-weight: bold;
	}

	.item-table{
		padding: 0 !important;
		border-bottom: 1px solid;
		ion-label{
			margin: 0 !important;
		}
		ion-col{
			padding: 0 !important;
		}
	}

	.labelButtonNoEspace{
		color:#a1a1a1;
		white-space: normal;
	}

	.btn-eliminar{
		padding: 0;
		button{
			height: 25px;
			width: 25px;
			padding: 0;
			background-color: rgba(255, 255, 255, 0);
			color: red;
		}
	}

	.btn-add-remove{
		height: auto;
		width: auto;
		padding: 4px 8px;
		font-size: 1rem;
	}

	.items{
		padding: 0;
		ion-item{
			ion-label{
				white-space: normal !important;
			}
		}
	}

	// Estilos alerts selects
	.icon-button {
    	position: absolute;
    	right: 10px;
	}

	// Estilos tabs
	hr{
		background-color: black !important;
	}

	.button-fab{
		position: fixed;
	}

	.col-body{
		text-align: center;
		color:white;
		font-weight: bold;
		font-size: 1.1em;
	}

	.row-head{
		margin-top: 20px;
		background-color: #333;
	}

	.select-tipo{
		padding: 16px;
		padding-bottom: 0;
	}

	// Estilos para ios
	.toolbar-ios{
		.div_title{
			.text-title{
				text-align: center; display: inline-block; width: 75%;
			}
		}
	}

	// estilos para android
	.toolbar-md {
		.title {
			position: absolute;
			top: 15px;
			left: 20%;
			text-align: center;
			width: 70%;
		}
	}

	// estilos ios-android
	.toolbar-ios .div_title, .toolbar-md .div_title{
		display: inline-block;
		margin-right: 300px;
	}

	.toolbar-ios, .toolbar-md{
		.div_title{
			label{
				font-size: 13px;
				color: white;
				width: 30px;
			}
			img{
				width: 33.36px;
			}
		}
	}

}
