page-cotizacion {
	.card{
		height: 100%
	}

	.div-banner, .banner{
		width: 100%;
	}

	.subTitle-empresas{
		font-weight: bold;
	}

	.item-table{
		padding: 0 !important;
		height: 3rem;
		min-height: 3rem;
	}

	// Estilos alerts selects
	.icon-button {
    	position: absolute;
    	right: 10px;
	}

	// Estilos tabs
	hr{
		background-color: black !important;
	}

	.button-fab{
		position: fixed;
		bottom: 70px;
	}

	.col-body{
		text-align: center;
		color:white;
		font-weight: bold;
		font-size: 1.1em;
	}

	.row-head{
		margin-top: 20px;
		background-color: #333;
	}

	.row-table{
		border-bottom: 1px solid
	}

	.select-tipo{
		padding: 16px;
		padding-bottom: 0;
	}

	// Estilos para ios
	.toolbar-ios .div_title .text-title{
		text-align: center; display: inline-block; width: 75%
	}

	// estilos para android
	.toolbar-md .title {
		position: absolute;
		top: 15px;
		left: 20%;
		text-align: center;
		width: 70%;
	}

	// estilos ios-android
	.toolbar-ios .div_title, .toolbar-md .div_title{
		display: inline-block;
		margin-right: 300px;
	}

	.toolbar-ios .div_title label, .toolbar-md .div_title label{
		font-size: 13px;
		color: white;
	}

	.toolbar-ios .div_title img, .toolbar-md .div_title img{
		width: 30px;
	}

}
