<!--
  Generated template for the CotizacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="orange">

		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div class="div_title">
			<img src="assets/icon_casco.png">
			<label>CAPP</label>
		</div>
		<ion-title>
			<div class="text-title">Cotización</div>
		</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>

	<form class="select-tipo" #formTipoEmpresa="ngForm">
		<ion-list>
			<ion-item>
				<ion-label>Tipo Empresa</ion-label>
				<ion-select [disabled]="tipoEmpresa" interface="popover" [(ngModel)]="tipoEmpresaId" (ionChange)="changeTipo($event)" name="tipoEmpresaId"
				 required>
					<ion-option value="1">Ferreterias</ion-option>
					<ion-option value="2">Electricos</ion-option>
					<ion-option value="3">Servicios</ion-option>
				</ion-select>
			</ion-item>
		</ion-list>
	</form>

	<div>
		<ion-segment [(ngModel)]="tabsCotizacion" color="darkCapp">
			<ion-segment-button value="productoTab">
				Productos
			</ion-segment-button>
			<ion-segment-button value="empresaTab">
				Empresas
			</ion-segment-button>
		</ion-segment>
	</div>

	<div [ngSwitch]="tabsCotizacion">
		<!--tab Productos-->
		<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
		<ion-list *ngSwitchCase="'productoTab'" padding>
			<form #formCotizacion="ngForm">
				<!--<ion-list>-->
				<ion-item>
					<label>Producto</label>
					<ion-buttons>
						<button ion-button full color="light" (click)="listarProductos()">
								<label *ngIf="producto == null" class="labelButtonNoEspace">Selecciona el producto</label>
								<label *ngIf="producto != null" class="labelButtonNoEspace">{{producto.nombre}}</label>
								<!--<ion-icon style="color:#a1a1a1" name="arrow-dropright-circle" class="icon-button"></ion-icon>-->
							</button>
					</ion-buttons>
				</ion-item>
			</form>
			<button [disabled]="producto == null || !formCotizacion.form.valid" (click)="agregar()" ion-button block color="darkCapp"><ion-icon name="cart" margin-right></ion-icon>AGREGAR A CARRITO</button>
			<hr>
			<h3 *ngIf="lista.length > 0">Lista de compra</h3>
			<ion-row *ngIf="lista.length > 0" class="row-head row-table">
				<ion-col col-11 class="col-body">Producto</ion-col>
				<ion-col col-1 class="col-body"></ion-col>
			</ion-row>


			<ion-list>
				<ion-item class="item-table" *ngFor="let item of lista">
					<ion-row class="row-table">
						<ion-col col-11 text-center>
							<label style="white-space: normal !important">{{item.producto.nombre}}</label>
						</ion-col>
						<ion-col col-1 text-center class="btn-eliminar">
							<button ion-button clear>
									<ion-icon (click)="deleteItem(item)" name="close"></ion-icon>
								</button>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-list>

			<button *ngIf="lista.length > 0" [disabled]="disabledButtonEnviar" ion-button full color="darkCapp" (click)="alertCotizacion()">Enviar Cotización</button>

		</ion-list>
		<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

		<!--Tab Empresas-->
		<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
		<ion-list *ngSwitchCase="'empresaTab'">
			<ion-list class="lista">
				<ion-row *ngFor="let empresa of empresas">
					<ion-col col-11 class="items" (click)="goToEmpresa(empresa)">
						<ion-item>
							<ion-avatar item-start class="avatar">
								<img class="img-logo" src="{{imagen}}{{empresa.imagen}}">
							</ion-avatar>
							<h3>{{empresa.nombre}}</h3>
							<p class="circle-estado"></p>
						</ion-item>
					</ion-col>
					<ion-col col-1>
						<button class="delete" ion-button clear (click)="eliminarSeleccion(empresa)"><ion-icon name="close" color="danger"></ion-icon></button>
					</ion-col>
				</ion-row>
				<!-- <ion-item *ngFor="let empresa of empresas" class="items" (click)="goToEmpresa(empresa)">
					<ion-avatar item-start class="avatar">
						<img class="img-logo" src="{{imagen}}{{empresa.imagen}}">
					</ion-avatar>
					<h3>{{empresa.nombre}}</h3>
					<p class="circle-estado"></p>
					<button class="delete" ion-button clear><ion-icon name="close" color="danger"></ion-icon></button>
				</ion-item> -->
			</ion-list>

			<ion-fab bottom right *ngIf="addEmpresa" class="button-fab">

				<button style="background-color: #333" ion-fab (click)="presentEmpresaModal()">
					<ion-icon name="add"></ion-icon>
				</button>
			</ion-fab>
		</ion-list>
		<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	</div>
</ion-content>