<ion-menu [content]="NAV">
	<ion-content class="nav-list">
		<div *ngIf="login" class="banner-sidebar" style="background-image: url('assets/sideMenu.png')">
			<div style="padding: 20px">
				<div class="logo_usuario">
					<img onerror="this.src='http://www.contactoarquitectonico.com.co/capp_admin/archivos/perfiles/img_user/sin_logo.png'" *ngIf='auth.imagen == null' src="{{auth.urlImagen}}{{auth.user.imagen}}"
					 (click)="goToPage('PerfilPage')" menuClose>
					<img *ngIf='auth.imagen != null' src="{{auth.imagen}}" (click)="goToPage('PerfilPage')" menuClose>
				</div>
				<div class="name-user">
					{{auth.user.nombre}}
				</div>
			</div>
		</div>
		<ion-list>
			<button class="button-side" style="background-color: #333" ion-item *ngFor="let page of pages" (click)="goToPage(page.componet, page.param)"
			 menuClose>
				<ion-icon style="color: #b8c7ce" item-left name="{{page.icon}}"></ion-icon>
				<label style="color: #b8c7ce">{{page.title}}</label>
			</button>
			<button class="button-side" style="background-color: #333" ion-item (click)="auth.logOut(nav)" menuClose>
				<ion-icon style="color: #b8c7ce" item-left name="power"></ion-icon>
				<label style="color: #b8c7ce">Cerrar sesion</label>
			</button>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav #NAV [root]="rootPage"></ion-nav>