// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.banner-sidebar{
	height: 250px;
	background-size: 100% 100%;
}

.logo_usuario{
	border-radius: 50%;
	box-shadow: 1px 1px 30px 1px;
	display:block;
	margin:10px auto;
	width: 100px;
}

.name-user{
	font-weight: bold;
	text-align: center;
	margin: 10px;
	font-size: 18px
}

.nav-list{
	background-color: #333
}

.button-side .item-inner{
	border-bottom: none !important;
}

.item-block:last-child{
	border-bottom: 0px !important;
}

// //Tabs antiguas
// .tab-button, .tab-button .tab-button-icon{
//     color: #333 !important;
//     transform: translate3d(0,0,0);
// }

// .tab-button[aria-selected=true],  .tab-button[aria-selected=true] .tab-button-icon{
//     color: #fff !important;
// }

// tabs
super-tabs-toolbar{
    position: absolute !important;
    bottom: 0 !important;
    .selected{
        ion-icon, span{
            color: #fff !important;
        }
    }

    super-tab-button{
        height: 54px !important;
    }

    ion-icon, span{
        color: #333 !important;
    }

    ion-icon{
        font-size: 2.2rem !important;
        margin: 0 !important;
    }

    span{
        font-size: 1.2rem !important;
    }

}
.indicator{
    top:0 !important;
}

super-tabs-container{
    height: calc(100% - 54px) !important;
}

// .title-and-icon, .selected{
//     background: red !important;
// }

ion-icon {
    &[class*="custom-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 0.9em;
        height: 0.9em;
    }
    // custom icons
    &[class*="custom-wifi"] {
        mask-image: url(../assets/icon/svg/wifi.svg);
    }

    &[class*="custom-ferreteria"] {
        mask-image: url(../assets/icon/icon_ferreterias.svg);
    }

    &[class*="custom-electrico"] {
        mask-image: url(../assets/icon/icon_ferreelectricos.svg);
    }

    &[class*="custom-servicio"] {
        mask-image: url(../assets/icon/icon_servicios.svg);
    }
}