<ion-menu [content]="NAV">
	<ion-content class="nav-list">
	<div  *ngIf="login" class="banner-sidebar" style="background-image: url('assets/sideMenu.png')">
		<div style="padding: 20px">
			<img class="logo_usuario" src="{{urlImagen}}logo_casco.png" *ngIf='user.foto == null' (click)="goToPage('PerfilPage')" menuClose>
			<img *ngIf='user.foto != null' class="logo_usuario" src="{{urlImagen}}{{user.foto}}"  (click)="goToPage('PerfilPage')" menuClose>
			<div class="name-user">
				{{user.nombre}}
			</div>
		</div>
	</div>
		<ion-list>
			<button style="background-color: #333" ion-item *ngFor="let page of pages" (click)="goToPage(page.componet)" menuClose>
				<ion-icon style="color: #b8c7ce" item-left name="{{page.icon}}"></ion-icon>
				<label style="color: #b8c7ce">{{page.title}}</label>
			</button>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav #NAV [root]="rootPage"></ion-nav>
