<!--
  Generated template for the EmpresaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="orange">

		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div class="div_title">
			<img src="assets/icon_casco.png">
			<label>CAPP</label>
		</div>
		<ion-title>
		</ion-title>

	</ion-navbar>

	<ion-navbar calss="search-header" *ngIf=busqueda>

		<ion-searchbar
		#searchbar
		placeholder="buscar"
		(keypress)="search($event.keyCode)"
		[(ngModel)]="txtSearch"
		[showCancelButton]="true"
		(ionCancel)="closeSearch($event)">
	</ion-searchbar>

</ion-navbar>

</ion-header>


<ion-content>

	<ion-fab top right edge>
	<button ion-fab style="background-color: #E65100" mini><ion-icon name="add"></ion-icon></button>
		<ion-fab-list>
			<a href="tel:{{empresa.telefono}}" ion-fab><ion-icon name="call"></ion-icon></a>
			<a ion-fab href="mailto:{{empresa.correo}}"><ion-icon name="mail"></ion-icon></a>
			<button ion-fab><ion-icon name="chatboxes"></ion-icon></button>
			<button ion-fab (click)="cotizar()"><ion-icon name="cart"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>

	<ion-card>
		<div class="title-name">
			{{empresa.nombre}}
		</div>

		<img src="{{imagen}}{{empresa.imagen}}">

		<div class="section">
			<h2 class="sub-title">Descripción</h2>
			<p>{{empresa.descripcion}}</p>
		</div>

		<div class="section">
			<h2 class="sub-title">Servicio</h2>
			<p>{{empresa.servicios}}</p>
		</div>

		<div class="section">
			<h2 class="sub-title">Horario</h2>
			<p>{{empresa.horarios}}</p>
		</div>

		<div class="section">
			<h2 class="sub-title">Web</h2>
			<p><a href="{{empresa.url}}" *ngIf="empresa.url != 'NO DISPONIBLE'">{{empresa.url}}</a></p>
			<p *ngIf="empresa.url == 'NO DISPONIBLE'">{{empresa.url}}</p>
		</div>

	</ion-card>


</ion-content>

